@model HubbleSpace_Final.Entities.Banner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banner_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banner_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Upload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Upload)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Banner">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
