@model HubbleSpace_Final.Entities.OrderDetail

@{
    ViewData["Title"] = "Delete - OrderDetail";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa chi tiết đơn hàng<br>
            Bạn chắc chắn muốn xóa chi tiết đơn hàng này?
        </div>
        <div class="card-body card-block">
            <input type="hidden" asp-for="ID_OrderDetail" />
            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Color_Product)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Color_Product.Color_Name)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Size)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Size)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Quantity)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Quantity)
                </div>

            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.order)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Color_Product.Color_Name)
                </div>
            </div>

            <div class="form-group card-footer">
                <a asp-action="Delete" class="btn btn-danger col-2" asp-route-id="@Model.ID_OrderDetail">Delete</a>
                <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
            </div>
        </div>
    </div>
</div>

