@model IEnumerable<HubbleSpace_Final.Entities.Discount>

<tbody id="tbody">
    @foreach (var item in Model)
    {
        <tr class="tr-shadow row">
            <td class="col-3">
                @Html.DisplayFor(modelItem => item.Code_Discount)
            </td>
            <td class="col-3">
                @Html.DisplayFor(modelItem => item.Expire)
            </td>
            <td class="col-2">
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td class="col-2">
                @Html.DisplayFor(modelItem => item.NumberofTurns)
            </td>
            <td class="col-2">
                <div class="table-data-feature">
                    <a class="item" asp-action="Edit" asp-route-id="@item.ID_Discount" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="zmdi zmdi-edit"></i>
                    </a>
                    <a class="item" asp-action="Delete" asp-route-id="@item.ID_Discount" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="zmdi zmdi-delete"></i>
                    </a>
                    <a class="item" asp-action="Details" asp-route-id="@item.ID_Discount" data-toggle="tooltip" data-placement="top" title="More">
                        <i class="zmdi zmdi-more"></i>
                    </a>
                </div>
            </td>
        </tr>
        <tr class="spacer"></tr>
    }
</tbody>
