@model IEnumerable<HubbleSpace_Final.Entities.Img_Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color_Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color_Product.Color_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Img_Product">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Img_Product">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Img_Product">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
