@model IEnumerable<HubbleSpace_Final.Entities.Color_Product>

@{
    ViewData["Title"] = "Categories Page";
    Layout = "_FrontendLayout";

}

<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/../Home">Home</a></li>
                            @{
                                var breadcrumb_item = Model.FirstOrDefault();
                                @if (ViewBag.Object != "")
                                {
                                    <li class="breadcrumb-item"><a asp-action="Categories" asp-route-Object="ViewBag.Object">@ViewBag.Object</a></li>
                                }
                                @if (ViewBag.Name != "")
                                {
                                    <li class="breadcrumb-item"><a asp-action="Categories" asp-route-Object="ViewBag.Name">@ViewBag.Name</a></li>
                                }
                            }
                            </ol>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <!--
                    *** MENUS AND FILTERS ***
                    _________________________________________________________
                    -->
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Categories</h3>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column category-menu">
                                <li>
                                    <a asp-action="Categories" asp-route-Object="Men" class="nav-link">Men</a>
                                    <ul class="list-unstyled">
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-Name="Originals" class="nav-link">Originals</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-Name="Running" class="nav-link">Running</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-Name="Training" class="nav-link">Training</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-Name="Football" class="nav-link">Football</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-Name="Basketball" class="nav-link">Basketball</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Men" asp-route-Name="Tennis" class="nav-link">Tennis</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="Categories" asp-route-Object="Women" class="nav-link">Women</a>
                                    <ul class="list-unstyled">
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-Name="Originals" class="nav-link">Originals</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-Name="Running" class="nav-link">Running</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-Name="Training" class="nav-link">Training</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Women" asp-route-Name="Tennis" class="nav-link">Tennis</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-action="Categories" asp-route-Object="Kids" class="nav-link">Kids</a>
                                    <ul class="list-unstyled">
                                        <li><a asp-action="Categories" asp-route-Object="Kids" asp-route-Name="Originals" class="nav-link">Originals</a></li>
                                        <li><a asp-action="Categories" asp-route-Object="Kids" asp-route-Name="Running" class="nav-link">Running</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Brands <a asp-action="Categories" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Filter">
                                <div class="form-group">
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="brand" name="brand" type="radio" value="Adidas"> Adidas
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="brand" name="brand" type="radio" value="Nike"> Nike
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="brand" name="brand" type="radio" value="Puma"> Puma
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="brand" name="brand" type="radio" value="Reebok"> Reebok
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm btn-primary" type="submit"><i class="fa fa-pencil"></i> Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Price <a href="Categories" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form asp-action="Filter">
                                <div class="form-group">
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="price" name="price" type="radio" value="0"> Less than 1.000.000
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="price" name="price" type="radio" value="1000000"> 1.000.000 - 3.000.000
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="price" name="price" type="radio" value="3000000"> 3.000.000 - 5.000.000
                                        </label>
                                    </div>
                                    <div class="zmdi-radio">
                                        <label>
                                            <input id="price" name="price" type="radio" value="5000000"> More than 5.000.000
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm btn-primary" type="submit"><i class="fa fa-pencil"></i> Apply</button>
                            </form>
                        </div>
                    </div>
                    <!-- *** MENUS AND FILTERS END ***-->
                </div>

                <div class="col-lg-9">
                    <div class="box info-bar">
                        <div class="row">
                            <div class="col-md-12 col-lg-4 products-showing">Showing <strong>@ViewBag.products_taked</strong> of <strong></strong> products</div>
                            <div class="col-md-12 col-lg-7 products-number-sort">
                                <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                    <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                                    <div class="products-sort-by mt-2 mt-lg-0">
                                        <strong>Sort by</strong>
                                        <select name="sort-by" class="form-control">
                                            <option>Price</option>
                                            <option>Name</option>
                                            <option>Sales first</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    @{
                        if (Model.Count() > 1)
                        {
                            <div class="row same-height-row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-4 col-md-6 ">
                                        <div class="product same-height">
                                            <div class="flip-container">
                                                <div class="flipper">
                                                    <div class="front">
                                                        <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">
                                                            <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.product.Product_Name)" class="img-fluid">
                                                        </a>
                                                    </div>
                                                    <div class="back">
                                                        <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">
                                                            <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.product.Product_Name)" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">
                                                <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.product.Product_Name)" class="img-fluid">
                                            </a>
                                            <div class="text">
                                                <h3><a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product">@Html.DisplayFor(modelItem => item.product.Product_Name)</a></h3>
                                                <p class="price">
                                                    <del>
                                                        @if (item.product.Price_Sale < item.product.Price_Product)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.product.Price_Sale)

                                                        }
                                                    </del>   @Html.DisplayFor(modelItem => item.product.Price_Product)
                                                </p>
                                                <p class="buttons">
                                                    <a asp-action="Product_Detail" asp-route-id="@item.ID_Color_Product" class="btn btn-outline-secondary">View detail</a>
                                                    <a asp-action="Cart" asp-route-id="@item.ID_Color_Product" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                                </p>
                                            </div>
                                            <!-- /.text-->
                                            @{var product = Model.FirstOrDefault();
                                                if (product != null)
                                                {
                                                    if (product.product.Price_Sale < product.product.Price_Product)
                                                    {
                                                        <!-- /.ribbon-->
                                                        <div class="ribbon sale">
                                                            <div class="theribbon">SALE</div>
                                                            <div class="ribbon-background"></div>
                                                        </div>
                                                    }
                                                    <!-- /.ribbon-->
                                                    if (product.Date > DateTime.Today.AddDays(-1))
                                                    {
                                                        <!-- /.ribbon-->
                                                        <div class="ribbon new">
                                                            <div class="theribbon">NEW</div>
                                                            <div class="ribbon-background"></div>
                                                        </div>
                                                        <!-- /.ribbon-->
                                                    }
                                                }
                                            }
                                        </div>
                                        <!-- /.product-->
                                    </div>
                                    <!-- /.products-->
                                }
                            </div>
                            <div class="pages">
                                <p class="loadMore"><a asp-action="Categories" asp-route-CountForTake="@ViewBag.CountForTake" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
                            </div>
                        }
                    }

                </div>
                    <!-- /.col-lg-9-->
                </div>
            </div>
        </div>
    </div>