@model IEnumerable<HubbleSpace_Final.Models.BestSaleModel>
@section css{
    <!-- owl carousel-->
    <link rel="stylesheet" href="~/distribution/vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/distribution/vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/distribution/css/style.default.css" id="theme-stylesheet">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/distribution/vendor/bootstrap/css/bootstrap.css">
}

@if (Model.Count() > 3)
{
    <div class="box py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0"><strong>Best Seller</strong></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" owl-carousel owl-theme">
            @{ 
                foreach (var item in Model.Take(10))
                {
                    <div class="item">
                                    <div class="product">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front">
                                                    <a asp-action="Product_Detail" asp-route-name="@item.Product.Product_Name.Replace(" ", "-")" asp-route-color="@item.NameColor.Trim().Replace("/", "-")">
                                                        <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Product.Product_Name)">
                                                    </a>
                                                </div>
                                                <div class="back">
                                                    <a asp-action="Product_Detail" asp-route-name="@item.Product.Product_Name.Replace(" ", "-")" asp-route-color="@item.NameColor.Trim().Replace("/", "-")">
                                                        <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Product.Product_Name)" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <a asp-action="Product_Detail" asp-route-name="@item.Product.Product_Name.Replace(" ", "-")" asp-route-color="@item.NameColor.Trim().Replace("/", "-")" class="invisible">
                                            <img src="~/Images/Color_Product_Avatar/@Html.DisplayFor(modelItem => item.Image)" alt="@Html.DisplayFor(modelItem => item.Product.Product_Name)">
                                        </a>
                                        <div class="text">
                                            <h3>
                                                <a asp-action="Product_Detail" asp-route-name="@item.Product.Product_Name.Replace(" ", "-")" asp-route-color="@item.NameColor.Trim().Replace("/", "-")">
                                                    @Html.DisplayFor(modelItem => item.Product.Product_Name)
                                                </a>
                                            </h3>
                                            <p class="price">
                                                <del>
                                                    @if (item.Product.Price_Sale < item.Product.Price_Product)
                                                    {
                                                        <text> @String.Format("{0:0,0}", item.Product.Price_Product) VNĐ </text>
                                                    }
                                                </del>
                                            </p>
                                            <p class="price-sale">
                                                <text> @String.Format("{0:0,0}", item.Product.Price_Sale) VNĐ </text>
                                            </p>
                                            <p class="buttons">
                                                <a asp-action="Product_Detail" asp-route-name="@item.Product.Product_Name.Replace(" ", "-")" asp-route-color="@item.NameColor.Trim().Replace("/", "-")" class="btn btn-outline-secondary">View detail</a>
                                                <!--<a asp-action="Cart" asp-route-id="@item.ID_Color_Product" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>-->
                                            </p>
                                        </div>
                                        <!-- /.text-->
                                        <!-- /.ribbon-->
                                        @if (item.Date > DateTime.Now.AddDays(-14))
                                        {
                                            <div class="ribbon new">
                                                <div class="theribbon">NEW</div>
                                                <div class="ribbon-background"></div>
                                            </div>
                                        }
                                        <!-- /.ribbon-->
                                        @if (item.Product.Price_Sale < item.Product.Price_Product)
                                        {
                                            <!-- /.ribbon-->
                                            <div class="ribbon sale">
                                                <div class="theribbon">SALE</div>
                                                <div class="ribbon-background"></div>
                                            </div>
                                        }
                                        <!-- /.ribbon-->
                                    </div>
                        <!-- /.product-->
                    </div>
                    <!-- /.products-->
                }
            }
        </div>
        <!-- /.product-slider-->
    </div>
}
