@model HubbleSpace_Final.Entities.EmailSubscription

@{
    ViewData["Title"] = "Delete - EmailSubscription";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="card card-body">
        <div class="card-header title--sbold">
            Xóa Email Subscription <br>
            Bạn chắc chắn muốn xóa Email Subscription này?
        </div>
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    Date Created
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Date_Created)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>

            <div class="row form-group">
                <div class="col col-md-3">
                    @Html.DisplayNameFor(model => model.subscribed_Status)
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.subscribed_Status)
                </div>
            </div>

            <form asp-action="Delete">
                <div class="form-group card-footer">
                    <input type="hidden" asp-for="ID_EmailSubscription" />
                    <input type="submit" value="Delete" class="btn btn-danger col-2" />
                    <a asp-action="Index" class="btn btn-secondary col-2">Back</a>
                </div>
            </form>

        </div>
    </div>
</div>
