@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@model IEnumerable<HubbleSpace_Final.Entities.Schedule>


@{
	ViewData["Title"] = "Admin Page";
	Layout = "_AdminDashLayout";
}


<div class="row">
	<div class="col-md-12">
		<div class="overview-wrap">
			<h2 class="title-1">overview</h2>
		</div>
	</div>
</div>
<div class="row m-t-25">
	<div class="col-sm-6 col-lg-3">
		<div class="overview-item overview-item--c1">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-account-o"></i>
                    </div>
                    <div class="text">
                        <h2>@ViewData["User Account"]</h2>
                        <span>Total Users</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart1"></canvas>
                </div>
            </div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<div class="overview-item overview-item--c2">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                    <div class="text">
                        <h2>@ViewData["Merchandise Inventory"]</h2>
                        <span>Merchandise Inventory</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart2"></canvas>
                </div>
            </div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<div class="overview-item overview-item--c3">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-calendar-note"></i>
                    </div>
                    <div class="text">
                        <h2>@ViewData["Total Orders"]</h2>
                        <span>Total Orders</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart3"></canvas>
                </div>
            </div>
		</div>
	</div>
	<div class="col-sm-6 col-lg-3">
		<div class="overview-item overview-item--c4">
            <div class="overview__inner">
                <div class="overview-box clearfix">
                    <div class="icon">
                        <i class="zmdi zmdi-money"></i>
                    </div>
                    <div class="text">
                        <h2>@ViewData["Total Earnings"]</h2>
                        <span>Total Earnings</span>
                    </div>
                </div>
                <div class="overview-chart">
                    <canvas id="widgetChart4"></canvas>
                </div>
            </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="au-card recent-report">
			<div class="au-card-inner">
				<h3 class="title-2">Profit Report in 2021</h3>
				<div class="chart-info">
					<div class="chart-info__left">
						<div class="chart-note">
							<span class="dot dot--blue"></span>
							<span>profit</span>
						</div>
					</div>
					<div class="chart-info__right">
					<div class="chart-note2">
						<span>@ViewData["Total Earnings"]</span>
					</div>
				</div>
				</div>
				
				<div class="recent-report__chart">
					<canvas id="recent-rep-chart" data-proJan="@ViewData["Profit Jan"]" data-proFeb="@ViewData["Profit Feb"]" data-proMar="@ViewData["Profit Mar"]" data-proApr="@ViewData["Profit Apr"]" data-proMay="@ViewData["Profit May"]" data-proJune="@ViewData["Profit June"]" data-proJuly="@ViewData["Profit July"]"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="au-card recent-report">
			<div class="au-card-inner">
				<h3 class="title-2">Sold Item Report in 2021</h3>
				<div class="chart-info">
					<div class="chart-info__left">
						<div class="chart-note">
							<span class="dot dot--green"></span>
							<span>quantity</span>
						</div>
					</div>
					<div class="chart-info__right">
						<div class="chart-note2">
							<span>@ViewData["Item Sold"]</span>
						</div>
					</div>
				</div>
				<div class="recent-report__chart5">
					<canvas id="recent-rep-chart5" data-quanJan ="@ViewData["Quan Jan"]" data-quanFeb ="@ViewData["Quan Feb"]" data-quanMar ="@ViewData["Quan Mar"]" data-quanApr ="@ViewData["Quan Apr"]" data-quanMay ="@ViewData["Quan May"]" data-quanJune ="@ViewData["Quan June"]" data-quanJuly ="@ViewData["Quan June"]"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="au-card chart-percent-card">
			<div class="au-card-inner">
				<h3 class="title-2 tm-b-5">Percentage of Consumer Target</h3>
				<div class="row no-gutters">
					<div class="col-xl-6">
						<div class="chart-note-wrap">
							<div class="chart-note mr-0 d-block">
								<span class="dot dot--blue"></span>
								<span>Men</span>
							</div>
							<div class="chart-note mr-0 d-block">
								<span class="dot dot--red"></span>
								<span>Women</span>
							</div>
							<div class="chart-note mr-0 d-block">
								<span class="dot dot--green"></span>
								<span>Kids</span>
							</div>
						</div>
					</div>
					<div class="col-xl-6">
						<div class="percent-chart">
							<canvas id="percent-chart" data-MenItem="@ViewData["Men Item Sold"]" data-WomenItem="@ViewData["Women Item Sold"]" data-KidsItem=@ViewData["Kids Item Sold"].ToString()>
							</canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<h2 class="title-1 m-b-25">Top Best-Seller Shoes</h2>
		<div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
			<div class="au-card-inner">
				<div class="table-responsive">
					<table class="table table-top-countries">
                        <tbody>
                            <tr>
                                <td>Shoe Name</td>
                                <td class="text-right">Total</td>
                            </tr>
                            <tr>
                                <td>@ViewData["query1stShoeName"]</td>
                                <td class="text-right">@ViewData["query1stShoeQuan"]</td>
                            </tr>
                            <tr>
                                <td>@ViewData["query2ndShoeName"]</td>
                                <td class="text-right">@ViewData["query2ndShoeQuan"]</td>
                            </tr>
                            <tr>
                                <td>@ViewData["query3rdShoeName"]</td>
                                <td class="text-right">@ViewData["query3rdShoeQuan"]</td>
                            </tr>
                            <tr>
                                <td>@ViewData["query4thShoeName"]</td>
                                <td class="text-right">@ViewData["query4thShoeQuan"]</td>
                            </tr>
                            <tr>
                                <td>@ViewData["query5thShoeName"]</td>
                                <td class="text-right">@ViewData["query5thShoeQuan"]</td>
                            </tr>
                            <tr>
                                <td>@ViewData["query6thShoeName"]</td>
                                <td class="text-right">@ViewData["query6thShoeQuan"]</td>
                            </tr>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class = "row">
	<div class="col-lg-6">
		<div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
			<div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
				<div class="bg-overlay bg-overlay--blue"></div>
				<h3>
					<i class="zmdi zmdi-account-calendar"></i>@ViewData["Today"]
				</h3>
				<form asp-action="Create">
					<button class="au-btn-plus" type="submit" asp-action="Create" asp-controller="Admin">
						<i class="zmdi zmdi-plus"></i>
					</button>
				</form>
				
			</div>
			@if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin")){
			<div class="au-task js-list-load">
				<div class="au-task__title">
					<p>Task for @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )</p>
				</div>
				<div class="au-task-list js-scrollbar3">
					@foreach (var item in Model)
					{
						if (item.status == HubbleSpace_Final.Entities.Status.ToDo && item.Date_Created.Day == DateTime.Now.Day)
						{
							<div class="au-task__item au-task__item--danger">
								<div class="au-task__item-inner">
									<h5 class="task">
										<a href="#">@Html.DisplayFor(modelItem => item.Description)</a>
									</h5>
									<span class="time">@Html.DisplayFor(modelItem => item.Date_Created)</span>
								</div>
							</div>
						}
						if (item.status == HubbleSpace_Final.Entities.Status.Done && item.Date_Created.Day == DateTime.Now.Day)
						{
							<div class="au-task__item au-task__item--primary">
								<div class="au-task__item-inner">
									<h5 class="task">
										<a href="#">@Html.DisplayFor(modelItem => item.Description)</a>
									</h5>
									<span class="time">@Html.DisplayFor(modelItem => item.Date_Created)</span>
								</div>
							</div>
						}
						if (item.status == HubbleSpace_Final.Entities.Status.InProgress && item.Date_Created.Day == DateTime.Now.Day)
						{
							<div class="au-task__item au-task__item--warning">
								<div class="au-task__item-inner">
									<h5 class="task">
										<a href="#">@Html.DisplayFor(modelItem => item.Description)</a>
									</h5>
									<span class="time">@Html.DisplayFor(modelItem => item.Date_Created)</span>
								</div>
							</div>
						}
					}




				</div>
				<div class="au-task__footer">
					<button class="au-btn au-btn-load js-load-btn">load more</button>
				</div>
			</div>
			}
		</div>
	</div>
</div>
	<div class="row">
		<div class="col-md-12">
			<div class="copyright">
				<p class="text-center">©2021 HubbleSpace</p>
			</div>
		</div>
	</div>

