@model PagedList.Core.IPagedList<HubbleSpace_Final.Entities.Order>

@{
    ViewData["Title"] = "Statistic";
    Layout = "_AdminLayout";

}

<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35">Thống kê doanh thu</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <form asp-controller="Admin" asp-action="statistic" method="get">
                    <div class="rs-select2--light rs-select2--sm">
                        <input type="text" class="form-control" placeholder="Search for" name="search" value="@ViewData["Search"]" />
                    </div>
                    <button class="au-btn-filter" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="table-data__tool-right" style="width:30%">
                <form asp-controller="Admin" asp-action="statistic" method="get">
                    <div class="rs-select2--light rs-select2--sm" style="width:50%">
                        <select class="js-select2" name="time">
                            <option selected="selected">All</option>
                            <option value="month">this month</option>
                            <option value="year">this year</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button type="submit" class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </form>
            </div>
        </div>
        <!-- DATA TABLE -->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr class="row">
                        <th class="col-2">
                            <a asp-controller="Admin" asp-action="statistic" asp-route-sortOrder="@ViewData["Date"]">@Html.DisplayNameFor(model => model.First().Date_Create)</a>
                        </th>
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.First().Address)
                        </th>
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.First().SDT)
                        </th>
                        <th class="col-2">
                            <a asp-controller="Admin" asp-action="statistic" asp-route-sortOrder="@ViewData["Process"]">@Html.DisplayNameFor(model => model.First().Process)</a>
                        </th>
                        <th class="col-2">
                            @Html.DisplayNameFor(model => model.First().TotalMoney)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="tr-shadow row">

                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Date_Create)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td class="col-2">
                                @Html.DisplayFor(modelItem => item.Process)
                            </td>
                            <td class="col-2">
                                @item.TotalMoney.ToString("n0") VNĐ
                            </td>

                        </tr>
                        <tr class="spacer"></tr>
                    }
                    <tr class="tr-shadow row">
                        <td class="col-8">Doanh thu</td>
                        <td class="col-2">@(ViewBag.totalMoney.ToString("n0")) VNĐ</td>
                    </tr>
                </tbody>
            </table>
            <pager class="pager-container" list="@Model" asp-action="Index" asp-controller="Sizes" />
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>