@model HubbleSpace_Final.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalMoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalMoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Create)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Create)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Receiver)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Receiver)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.account.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Process)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Process)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Order">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
